@charset "ISO-8859-1";

h2.lst{
	background-color: red;
}
.list{
	background-color: rgba(.9,.6,.8,.1);
	border:thick;
	border-width: thick;
	border-radius: 10%;
	padding: 10%;
	height: auto;
	width:auto;
}

.li{
	padding: 20px;
	font-family:cursive;
	font-stretch: semi-condensed;
}